@import "./css/colors";
@import "./css/globals";

html {
  box-sizing: border-box;
  font-size: 16px;
  color: $color-gray-dark;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

p {
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
