@import "../../css/globals";

.Chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  // height: calc(100vh - 60px);
  background: rgba(#fff, 0.1);
  box-shadow: 2px 1px 10px rgba(#a9a6a6, 0.4);
  margin: 0 auto;
  margin-top: auto;
  padding-top: 50px;
}

.Chat-users-names {
  background: white;
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.Chat-users {
  position: absolute;
  top: $navbar-height;
  right: 0;
  left: 0;
  padding: 10px;
  background: white;

  & i {
    margin-right: 4px;
  }

  & .Chat-users--names {
    font-size: 20px;
    text-align: center;
  }
}

.Chat-log {
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
}

// Chat input area
.Chat-input-area {
  position: relative;
  border-top: 1px solid lightgrey;
}

.Chat-input-area__input {
  width: 100%;
  background: rgba(#fff, 0.3);
  border: none;
  box-sizing: border-box;
  padding: 20px;
  padding-right: calc(#{50px} + 20px);

  &:focus {
    outline: none;
  }
}

.Chat-input-area__submit-button {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  // background-image: url("../images/paper-plane.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin: auto;
  color: $color-primary;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}
