@import "./colors";

$navbar-height: 60px;

// Set text color to defined primary color
.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-white {
  color: $color-white;
}

.color-dark {
  color: $color-gray-dark;
}

// Font weight light
.f-w-l {
  font-weight: 300;
}

.f-w-b {
  font-weight: 600;
}
// Margin all sides 16px
.u-m {
  margin: 16px;
}

// Margin right 16px
.u-m-r {
  margin-right: 16px;
}

// Margin left 16px
.u-m-l {
  margin-left: 16px;
}

// Margin right 8px
.u-m-r-sm {
  margin-right: 8px;
}

// Margin left 8px
.u-m-l-sm {
  margin-left: 8px;
}

.u-m-b {
  margin-bottom: 16px;
}

.u-m-b-sm {
  margin-bottom: 8px;
}

.u-m-t {
  margin-top: 16px;
}

// Center align text
.text-center {
  text-align: center;
}
.disp-flex {
  display: flex;
}
.disp-inline-b {
  display: inline-block;
}
