@import "../../css/globals";

.ChatPreview_wrapper {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  width: 100%;
  color: $color-gray-dark;
}

.ChatPreview_img-wrapper {
  margin-right: 10px;
  position: relative;
  width: 100px;
  display: flex;
  margin-top: -5px;

  & .Chat_profile-imgs:not(:first-child) {
    position: absolute;
  }

  & .Chat_profile-imgs:hover {
    transform: scale(2);
    z-index: 100;
  }
}

.ChatPreview_names-wrapper {
  width: 100%;
  font-weight: 600;

  & span {
    font-size: 1rem;
  }

  & p {
    font-size: 1.2rem;
  }

  & p:hover {
    cursor: pointer;
    color: $color-primary;
  }
}

.ChatPreview_user-preview-div {
  color: $color-gray-dark;
  margin-left: 45px;
  display: flex;
}
