@import '../../css/globals';

.ChatPreview_wrapper {
  background: white;
  // border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  // width: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  // display: grid;
  // grid-gap: 10px;
  // grid-template-columns: 1fr 3fr;

  // & h2 {
  //   font-weight: 600;
  // }
}

.profile_img_div {
  max-height: 20px;
  float: left;
  margin-right: 10px;
}
.user-preview-div {
  & .users {
    font-weight: 500;
  }
  color: $color-gray-dark;
  margin-left: 10px;
  max-width: 200px;
  display: inline-block;
}
.message-preview {
  font-size: smaller;
  color: $color-gray-dark;
}

.rate-tag {
  float: right;
  align-content: center;
  padding-top: 7px;
}
.rate-btn {
  color: $color-primary;
}
