@import "../../css/colors";

.btn {
  outline: none;
  border: none;
  padding: 10px 40px;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  font-size: 16px;
  letter-spacing: 2px;

  & .disabled {
    background-color: $color-disabled !important;
  }

  &:hover {
    cursor: pointer;
    background: $color-secondary;
  }
}

.btn-light {
  background: $color-white;
  color: $color-primary;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-secondary {
  background: $color-secondary;
  color: $color-white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background: $color-primary;
  color: $color-white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  & .disabled {
    background-color: $color-disabled !important;
  }
}

.btn-link {
  padding: 0px;
  font-weight: bold;
  font-size: 16px;
  color: $color-secondary;
  letter-spacing: 1px;

  &:hover {
    background: none;
  }
}

.btn-link--white {
  color: white;
}
