@import "../../css/colors";

.btn {
  outline: none;
  border: none;
  padding: 10px 40px;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  font-size: 16px;
  letter-spacing: 2px;
}

.btn-light {
  background: $color-white;
  color: $color-primary;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-secondary {
  background: $color-secondary;
  color: $color-white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background: $color-primary;
  color: $color-white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-link {
  padding: 0px;
  font-weight: bold;
  font-size: 16px;
  color: $color-primary;
}
