@import '../../css/colors.scss';

.Badge_wrapper {
  display: inline-block;
  background: $color-primary;
  color: $color-white;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  &.outline {
    background-color: white;
    border: 2px solid $color-primary;
    color: $color-primary;
  }
}
