@import "../../css/colors";

.TutorCard_wrapper {
  // background: dodgerblue;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 0 auto 20px auto;

  a {
    color: $color-gray-dark;
  }

  & h2 {
    font-weight: 600;
  }
}

.TutorCard_content > div {
  margin-bottom: 10px;
}

.TutorCard_badges-subjects {
  margin-top: 10px;
  & span {
    margin-right: 6px;
  }
}

.TutorCard_bio-text {
  line-height: 1.75em;
  font-size: 16px;
}

.Rating-stars {
  margin-top: 5px;
  & i {
    color: red;
  }
}
