.Whiteboard-wrapper {
  position: relative;
}

.Whiteboard-controls {
  position: fixed;
  border-radius: 30px;
  background: rgb(31, 31, 31);
  padding: 10px;
  top: 20%;
  left: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    &:hover {
      cursor: pointer;
    }
    & i {
      margin-bottom: 20px;
      margin-right: 0px;
      margin-top: 4px;
    }
  }
}

.WhiteBoard-participants {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  z-index: 19;

  & div:not(:last-child) {
    margin-right: -20px;
  }

  & div:hover {
    margin-right: 0px;
    transform: scale(1.5);
  }
}

.WhiteBoard-color-choice {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid rgb(173, 173, 173);

  &:hover {
    cursor: pointer;
  }
  &.black {
    background: black;
  }

  &.green {
    background: green;
  }

  &.red {
    background: red;
  }

  &.dodgerblue {
    background: dodgerblue;
  }

  &.orange {
    background: orangered;
  }

  &.yellow {
    background: yellow;
  }
}
