@import "../../../css/globals";

.Chat-message {
  display: flex;
  align-items: center;
  width: 100%;

  transition: all 0.5s;

  // Other user variation
  &--right {
    flex-direction: row-reverse;

    .chat-message__text {
      background: $color-primary;
      color: $color-white;
    }

    .chat-message__avatar-frame {
      margin-left: 16px;
      margin-right: 0;
    }
  }
}

.Chat-message + .Chat-message--right,
.Chat-message--right + .Chat-message {
  margin-top: 32px;
}

.Chat-message--right .Chat-message__text {
  background: $color-primary;
}

.Chat-message--date {
  color: $color-gray;
  font-size: 12px;
  align-self: flex-end;
  padding: 0px 5px 5px 5px;
}

// Add a corner on first message for user
.Chat-message--right:first-of-type,
.Chat-message--left + .Chat-message--right {
  .Chat-message__text {
    border-radius: 18px 0 18px 18px;
  }
}

.Chat-message--left:first-of-type,
.Chat-message--right + .Chat-message--left {
  .Chat-message__text {
    border-radius: 0 18px 18px;
  }
}

// Handle consecutive messages:
// Remove extra space
// Hide avatar
.Chat-message--left + .Chat-message--left,
.Chat-message--right + .Chat-message--right {
  margin-top: 0;

  .Chat-message__avatar-frame {
    visibility: hidden;
    opacity: 0;
  }
}

.Chat-message__avatar-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  background: lightGrey;
}

.Chat-message--right .Chat-message__avatar-frame {
  margin-left: 16px;
}

.Chat-message__avatar {
  height: 100%;
}

.Chat-message__text {
  display: block;
  max-width: 65%;
  background: $color-secondary;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 300;
  color: $color-white;

  animation-duration: 0.3s;
  animation-name: fly-in;
}
