@import '../../css/colors.scss';

.BottomNav_wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  background: #f7b801;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.3);
  z-index: 31;

  &:hover {
    background: #f0bf2c;
    cursor: pointer;
  }

  i {
    color: white;
    margin: 0px;
    font-size: 25px;
    line-height: 25px;
  }
}
