@import "../../css/globals";

.Navbar_wrapper {
  position: absolute;
  top: 0;
  background: $color-primary;
  height: $navbar-height;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.Navbar_logo {
  display: flex;
  align-items: center;
}

.Navbar_profile {
  position: relative;
  display: flex;
  align-items: center;
}

.Navbar_profile-dropdown {
  color: $color-white;

  & i::before {
    color: white;
    background: pink;
    position: absolute;
    top: -5px;
    display: none;
  }
}
