@import "../../css/colors.scss";

.Hero_wrapper {
  height: 100%;
  padding: 20px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // display: flex;
  padding-top: 100px;
  // align-items: center;
  // justify-content: center;
}

.Hero_content {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
