@import "../../css/colors.scss";

.Hero_wrapper {
  height: 100%;
  padding: 20px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
}

.Hero_content {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Hero_content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  height: 100%;
}

.Hero_content-text-lg {
  text-align: left;
  line-height: 49px;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 48px;
}
